<div class="home-details w-100 vh-100 d-flex flex-column align-items-start">
  <div class="d-block mb-5">
    <a
      class="btn btn-primary w-100 mt-2"
      color="secondary"
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
      >Back</a
    >
  </div>
  <div class="card p-1 mr-5 d-flex flex-row">
    <img
      class="card-img-top mr-5"
      [src]="homeItem.imgUrl"
      alt="Card image cap"
    />
    <div class="card-body">
      <p class="card-title box-shadow">
        <span>{{ homeItem.name }}</span>
      </p>
      <div class="card-header text-center box-shadow">
        Address : {{ homeItem.address }}
      </div>
      <div class="card-header text-center box-shadow">
        Price :
        {{
          homeItem?.price?.toLocaleString("en-US", {
            style: "currency",
            currency: "USD"
          })
        }}
      </div>
      <div class="card-header text-center box-shadow">
        Sqft : {{ homeItem.sqft }}
      </div>
    </div>
  </div>
</div>
